@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
    font-family: 'Merriweather', serif;
}

/*==============
    menu 
=============== */

#nav-items {
    height: calc(100vh - 80px);
    width: 100vw;
}

.after-hide {
    height: calc(100vh - 80px);
}

.nav-bg{
    background: #f2f4f7;
}

/* custom search bar  */
.input-box {
    transition: all 0.6s cubic-bezier(0.58, 0, 0.5, 1);
  }
  .input-box.open {
    max-width: 320px;
    margin-right: 26px !important;
  }
  .input-box input {
    @apply relative outline-none h-full w-full rounded-[8px] text-sm;
    margin-right: 26px !important;
  }
  .input-box.open {
    @apply border;
    padding: 0 0 0 50px;
    margin-right: 26px !important;
  }
  .icon {
    @apply absolute h-full top-0 left-0 w-[50px] rounded-[8px] flex justify-center bg-white;
  }
  .search-icon {
    @apply absolute top-1/2 text-sm;
    transition: all 0.6s cubic-bezier(0.58, 0, 0.12, 1);
  }
  .close-icon {
    @apply absolute top-1/2 text-sm;
    transition: all 0.1s cubic-bezier(0.58, 0, 0.12, 1);
  }
  .search-icon {
    color: #5c77ff;
    transform: translateY(-50%) rotate(90deg);
  }
  .input-box.open .search-icon {
    transform: translateY(-50%) rotate(0);
  }
  .close-icon {
    @apply text-white opacity-0 cursor-pointer -translate-y-1/2 -right-8;
  }
  .input-box.open .close-icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
  }

/*===============
    homepage
=================*/

#circle { position: relative; width: 100%; padding-bottom: 0%; overflow: hidden; }

#circle text { 
    font-size: 16px; 
    font-weight: normal; 
    color: green; 
}

#circle svg { width: 100%; height: fit-content;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 9s;
     -moz-animation-duration: 9s;
      -ms-animation-duration: 9s;
       -o-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

/* owl caurosel  */
.owl-carousel .owl-nav {
    @apply flex gap-x-6 sm:gap-x-6;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    @apply text-[40px] text-[#555555] font-light;
    font-family: 'Courier New', Courier, monospace;
}

.owl-carousel .owl-nav {
    @apply absolute lg:top-[-82px] lg:left-[427px];
}

/* active-btn  */

.btn-active {
    position: relative;
    @apply text-text;
}

.btn-active:after {
    content: '';
    @apply w-full h-[2px] bg-text bottom-0 left-0 absolute;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.items {
    height: fit-content;
}

.items img {
    width: 100%;
}

.subscribe{
    background-image: url('./../assets/images/home/subscribe.webp');
}
/* =====================
    membership page 
========================= */


.td-sytle {
    @apply py-4 px-2 text-text font-bold whitespace-nowrap text-sm sm:text-base;
}

.accordion {
    @apply border-b
}

.title {
    @apply py-4 cursor-pointer transition-all duration-300 ease-in flex justify-between items-start sm:items-center text-base sm:text-lg md:text-[20px] font-bold;
}

.desc {
    @apply pt-2 sm:pt-4 pb-6 text-sm md:text-base text-text-60 hidden pr-9;
}

.title span svg {
    @apply w-4 sm:w-7 h-4 sm:h-7 mt-1 sm:mt-0;
    display: inline-block;
    transition: 0.3s;
}

.title.active span {
    transform: rotate(180deg);
}

.title:hover,
.title.active {
    color: black;
}

.desc.active {
    display: block;
}

/*===========================
    terms of services page 
 ============================*/

.error-part button {
    font-family: 'Arima Madurai', cursive;
}
.terms-condition-footer{
    background-color: #F5F5F5;
}

/* ============================
    terms of services page 
===============================*/


/* for slider  */
.slide {
    opacity: 1;
    margin-top: 0px;
    transition: all linear .3s;
}


.scroll-bar::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ======================
    login & signup page 
=========================*/

/* bg for log in & sign up pages  */
.login-signup-bg{
    background: url(./assets/images/nav-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-container{
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.08);
}

/* custom checkbox */
.custom-input {
@apply block relative pl-6 mb-0 cursor-pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-input input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

/* Create a custom checkbox */
.checkmark {
    @apply h-4 w-4 top-0 left-0 absolute bg-white border-primary border-[2px] rounded-[2px] mt-[1px];
}

/* On mouse-over, add a grey background color */
.custom-input:hover input ~ .checkmark {
    background-color:white;
}

/* When the checkbox is checked, add a blue background */
.custom-input input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-input input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-input .checkmark:after {
@apply border border-primary left-[4px] top-0 w-[4.5px] h-[10px]; 
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*===============
    all blog 
==================*/
.all-blog-banner{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
}
.blog-active-btn{
    @apply bg-primary-10 rounded-[5px];
}

.flatpickr-months .flatpickr-month{
    height: 60px;
}

.flatpickr-current-month{
    left: 4px;
    width: 60%;
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month{
    right: 34px;
    left: unset;
    top: 14px;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month, .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    top: 14px;
}
.flatpickr-current-month select{
    -webkit-appearance: none !important;
     appearance: none !important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months{
    margin: 8px 0 0 0px;
    font-size: 14px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:hover{
    background-color: white;
}
.numInputWrapper:hover {
    background: white;
}
.flatpickr-current-month .numInputWrapper{
    width: 9ch;
}
.flatpickr-current-month input.cur-year{
    font-size: 28px;
    font-weight: 600;
    margin-left: -15px;
}
.numInputWrapper span.arrowUp, .numInputWrapper span.arrowDown{
    display: none;
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{
    width: 20px;
    height: 20px;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
    background:#060B25 ;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #060B25;
}
.flatpickr-day{
    border-radius: 4px ;
}

/*==============================
    author-profile-settings 
===============================*/

.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 140px;
    margin-left: 8px;
    /* margin-bottom: 8px; */
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: rgba(6, 11, 37, 0.1);
    color: #060B25;
    border-radius: 40px;
    padding: 2px 5px 0px 10px;
    font-size: 12px;
    margin: 0px 5px 5px 5px;
   
}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}
.person-details{
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

/* tooltip coding  */
.btn-container span::after{
    @apply shadow-md;
    content: '';
    height: 10px;
    width: 10px; 
    background: white;
    position: absolute;
    bottom: -5px;
    left: 45%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.btn-container:hover .tooltip{
    @apply opacity-100 transition duration-500;
}


/*===============
    404 pages  
=================*/
.animate-charcter{
    background: -webkit-linear-gradient(135deg,#3762E0,#E53A63);
    background: linear-gradient(-45deg,#3762E0,#E53A63);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }


/*
responsive for homepage
*/

@media screen and (max-width: 640px) {
    .items {
        width: calc(100% - 24px);
    }
    .owl-carousel .owl-nav {
        @apply absolute top-full left-1/2 -translate-x-1/2;
    }
    #nav-items {
        height: calc(100vh - 56px);
        width: 100vw;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .items {
        width: calc(50% - 24px);
    }
   
    .owl-carousel .owl-nav {
        @apply absolute top-full left-1/2 -translate-x-1/2;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .items {
        width: calc(50% - 24px);
    }
    .owl-carousel .owl-nav {
        @apply absolute top-full left-1/2 -translate-x-1/2;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .items {
        width: calc(33.33% - 24px);
    }
    .owl-carousel .owl-nav {
        @apply absolute -top-[25%] -translate-x-1/2;
        left: calc(100% - 48px);
    }
}

@media (min-width: 1281px) {
    .items {
        width: calc(25% - 24px);
    }
}

